<div class="box-body">
	<div class="modal fade" id="modal-cancel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title">Xác nhận Hủy Phòng</h3>
					<!-- <div class="overlay text-center">
							<i class="fa fa-spinner fa-spin fa-3x fa-fw text-red" id="refreshAnnimationDelEmployee"></i>
						</div> -->
				</div>
				<div class="modal-body">
					Bạn chắc chắn muốn hủy Mã đặt phòng <span class="text-bold text-red" id="displayCodeBooking"></span> ?
				</div>
				<div class="modal-footer">


					<label id="resultConfirmBookRoom"></label>
					<button id="confirmCancel" class="btn btn-primary pull-right" >Có
						<em class="fa fa-spinner fa-spin fa-fw hide" id="refreshButtonCancel"></em></button>

					</button>
					<button type="button" class="btn btn-default pull-right margin-r-5"
                        data-dismiss="modal">Không</button>
                        <input type="text" class="hidden" id="inputIdBookingRoom">

				</div>

			</div>
		</div>
	</div>
</div>