<div class="box-body">
	<div class="modal fade" id="modal-CheckIn">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title">Xác nhận Nhận Phòng</h3>
					<!-- <div class="overlay text-center">
							<i class="fa fa-spinner fa-spin fa-3x fa-fw text-red" id="refreshAnnimationDelEmployee"></i>
						</div> -->
				</div>
				<div class="modal-body">
					Bạn chắc chắn muốn nhận phòng ?
				</div>
				<div class="modal-footer">


					<label id="resultConfirmBookRoom"></label>
					<button name="ok" id="confirmCheckIn" class="btn btn-primary pull-right" data-booking-room-id="">Có
						<em class="fa fa-spinner fa-spin fa-fw hide" id="refreshButtonConfirm"></em></button>

					</button>
					<button type="button" class="btn btn-default pull-right margin-r-5"
						data-dismiss="modal">Không</button>

				</div>

			</div>
		</div>
	</div>
</div>