<!-- Modal Thêm mới , chỉnh sửa Tầng  -->
<div class="modal fade" id="modal-addFloor-updateFloor">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Thông Tin Tầng</h4>
			</div>
			<div class="modal-body">
				
				<form id="floorInfo" method="POST">
					<input type="hidden" id="floorAction" name="floorAction" value="add">
					<input type="hidden" id="floorId" name="floorId" value="">
					<div class="form-group">
						<label for="nameFloor">Tên tầng:</label>
						<input type="text" class="form-control" id="nameFloor" name="nameFloor" placeholder="Vd: Tầng 01">
					</div>
					<div class="form-group">
						<label for="codeFloor">Code:</label>
						<input type="text" class="form-control" id="codeFloor" name="codeFloor">
					</div>
				</form>
			</div>
			<div class="modal-footer">  
				<label id="resultFloor" class="pull-left text-red hidden"></label>
				<button type="button" class="btn btn-default m-r-10" data-dismiss="modal">Đóng</button>
				<button  id="add-or-update-floor"" class="btn btn-primary">Lưu</button>
			</div>
			<div class="overlay">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw fa-refreshcenter"></i>
			</div>
		</div>
	</div>
</div>
