<!-- Xóa  dịch vụ -->
<div class="box-body">
    <div class="modal fade" id="modal-del-service">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cảnh báo</h4>
                    <div class="overlay text-center">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw text-red" id="refreshAnnimationDelService"></i>
                    </div>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa <span class="text-bold text-red text-uppercase info-del-service"></span> ?
                </div>
                <div class="modal-footer">
                    <label id="resultDelService" class="pull-left text-red hidden"></label>
                    <button type="button" class="btn btn-default m-r-10" data-dismiss="modal">Không</button>
                    <button  id="confirm-del-service"" class="btn btn-danger">Có</button>

                </div>

            </div>

        </div>
    </div>
</div>